<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpotifyClone_Coders_Cave"
        tools:targetApi="31">
        <activity
            android:name=".activity.Music_List_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.Home_Podcasts_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.Home_Music_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.Search_Input_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.Premium_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.Library_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.Search_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.SpotifyClone_Coders_Cave.NoActionBar" />
        <activity
            android:name=".activity.Splash_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>